<div>
  <h1>Hi, I am Rady</h1>
  <p>Web developer and content creator</p>
</div>

<div>
  <img src="/img/hero-image.webp" alt="Placeholder image" />
</div>

<section>
  <h2>Latest Posts</h2>

  <ul>
    <li>
      <a href="">
        <span>Post Title</span>
        <span>Date </span>
      </a>
    </li>
  </ul>

  <a href="" class="pagination"> &lt; View Older Posts</a>
</section>
